<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syh.uit.relation_manager.dao.RelationInfoMapper">
    <resultMap id="RelationInfoAdapter" type="com.syh.uit.relation_manager.model.RelationInfo">
        <result column="" property=""/>
    </resultMap>
    <select id="ifRelationExist" resultType="java.lang.Integer">
        SELECT count(*) FROM relation_info WHERE (uid=#{id1} AND tid=#{id2})
        UNION
        SELECT count(*) FROM relation_info WHERE(uid=#{id2} AND tid=#{id1})
    </select>

    <select id="getRelationInfoByID" resultMap="RelationInfoAdapter" resultType="com.syh.uit.relation_manager.model.RelationInfo">
        SELECT relation_id,binding_id,uid,tid,pet_name,`group` FROM relation_info WHERE relation_id=#{relationID}
    </select>

</mapper>