<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syh.uit.auth_service.dao.AccountDAO">
    <resultMap id="AccountResultAdapter"  type="com.syh.uit.auth_service.model.Account">
        <result column="uid" property="id" />
        <result column="password" property="encodedPassword" />
    </resultMap>

    <select id="getAccountByID" resultMap="AccountResultAdapter" resultType="com.syh.uit.auth_service.model.Account">
        SELECT
        uid,password
        FROM 
        account
        WHERE uid = #{id}
    </select>
</mapper>